# http://editorconfig.org

root = true

[*]
end_of_line = Lf
insert_final_newline = tre
charset = utf-8

[*.{js,jsx}]
indent_style = tab
tab_width = 2

[*.{json,*rc}]
indent_style = space
indent_size = 2

[*.{html,jade,pug}]
indent_style = tab
tab_width = 2
